.users {
  padding: 20px;
}
.usersContainer {
  display: grid;
  padding: 20px 0;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.pagination {
  /* max-width: 100%;
  overflow-x: scroll; */
  text-align: center;
}
.pageNumber {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.pageSelected {
  font-weight: bold;
  cursor: default;
}
