.cover {
  width: 100%;
  height: 350px;
  background: url("../../../assets/profile_cover.jpg") 100% 50%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.coverImg {
  width: 100%;
  max-width: 1200px;
  max-height: 350px;
  object-fit: cover;
}
.coverImgBlur {
  height: 50%;
  width: 100%;
  /* backdrop-filter: blur(8px); */
  background: linear-gradient(0deg, #000000a1 0%, #00000000 100%);
}
.coverMenu {
  background-color: #000000a1;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.coverMenuItem {
  color: #ffffff;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}
.descriptionContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  grid-gap: 15px;
}
.avatarContainer {
  align-self: auto;
  justify-self: center;
  padding: 20px;
}
.userAvatarImg {
  height: 200px;
  width: 300px;
  border-radius: 6px;
  border: 10px solid #ffffff;
  object-fit: cover;
}
.userAvatarInitial {
  display: flex;
  height: 200px;
  width: 300px;
  border-radius: 6px;
  border: 10px solid #ffffff;
  font-family: "Lobster";
  text-shadow: 0px 2px 10px #ffffff;
  color: #e4e4e4;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(236, 236, 236);
  align-items: center;
  justify-content: center;
  font-size: 4em;
  overflow: hidden;
  cursor: default;
}
.avatarImg:hover {
  border: 10px solid #f8f8f8;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.bioContainer {
  display: grid;
  padding: 20px;
  border-radius: 4px;
  padding: 20px;
}
.bioText {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  border-radius: 6px;
  background-color: #f8f8f8;
  color: #6d6e71;
  position: relative;
  padding: 10px;
}
/* .bioText::after {
  content: "";
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bioText:first-child::before {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  top: 0;
  left: 0;
} */
.bioTextP {
  flex-grow: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}
.bioName {
  color: #27aae1;
  display: inline-block;
  /* margin-right: 10px; */
  text-transform: capitalize;
  /* margin-bottom: 20px; */
}
.bioPersonalInfo {
  color: #27aae1;
}
.bioDate {
}
.bioPersonalInformation {
}
.workExperience {
  margin-bottom: 20px;
}
.workDate {
  font-style: italic;
  font-size: 0.8em;
  text-transform: capitalize;
}
.bioTitle {
  margin-right: 20px;
}
.contacts {
  display: flex;
  flex-direction: row;
}
.icon {
  margin-right: 10px;
  cursor: pointer;
}
.facebook {
  color: #0e90f2;
}
.website {
  color: #000000;
}
.vk {
  color: #4a76a8;
}
.twitter {
  color: #15202b;
}
.instagram {
  color: #db3981;
}
.youtube {
  color: #ff0000;
}
.github {
  color: #24292e;
}
.mainLink {
  color: #000000;
}
