* {
  box-sizing: border-box;
}
.appWrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  grid-template-areas: "h h" "n c";
  max-width: 1200px;
  margin: 0 auto;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh; */
	/* width: 50%; */
}
.app-wrapper-content {
  grid-area: c;
  background-color: #e4e4e4;
}