* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #b19aa7, #b49ab0, #b39bbc, #ad9dc9, #a1a1d7, #96aade, #8cb3e2, #84bbe4, #92c7df, #a7d1db, #c1d9da, #dae0df);
}

.appWrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  grid-template-areas: "h h" "n c";
  max-width: 1200px;
  margin: 0 auto;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh; */
	/* width: 50%; */
}
.app-wrapper-content {
  grid-area: c;
  background-color: #e4e4e4;
}